*{ /*Retirar a margin e o padding que já vem com o navegador  */
  margin: 0;
  padding: 0; /*preenchimento interno */
  box-sizing: border-box; /*medido atraves da borda */
}
:root{
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255,255,255,0.5) ;
  --surface-color: rgba(255,255,255,0.05);
  --surface-color-hover:rgba(0,0,0,0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);

}

.light{
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0,0,0,0.5) ;
  --surface-color: rgba(0,0,0,0.05);
  --surface-color-hover:rgba(0,0,0,0.02);
  --highlight-color: rgba(0,0,0,0.1);
}

body{
  /* imagem para colocar como 'papel' */
  /* background-image: url(./assets/Mobile\ -\ 1080x1920.jpg);
  /* Essa imagem se repete? Senão use isso, assim ficaram uma imagem só */
  /* background-repeat: no-repeat;
  imagem ao centro
  background-position: center;
  ampliar a imagem de acordo com o tamanho de tela.
  background-size:cover ; */ 
  
  background: var(--bg-url) no-repeat top center/cover ;
}

body * { /*Significa que irá ser aplicado para todos os seletores dentro do body */
  font-family: 'Inter', sans-serif;
  color: var(--text-color)
}

#container{
  width: 360px; /* largura */
  /* height: 712px;altura */
  /* border : 1px solid red; bordar: tamanho da borda, estilo e  cor da borda */
  padding: 0 24px;

  
 /* margin-top: 56px; distancia de cima, dando um espaço de 56px entre a caixa e o navegador */
  margin: 56px auto 0px auto;

}

#profile{
  /* width: 360px; */
  /* height: 192px; */
  /* border: 1px solid red; */
  /* margin: auto; */
  text-align: center;
 
  padding: 24px;

}
#profile img{ 
  /* Em elementos de img não se aplica o 'margin', antes se usar o display block que vai abrindo a caixa para os elementos de baixo. */
  width: 112px;
  
}

#name{
  font-weight: 500; /*  Peso do texto */
  line-height: 24px; /* Altura da linha */
  margin-top: 8px;  /*distancia de cima, dando um espaço de 8px entre a foto e o ig */

}

/* links */
ul{
  list-style: none; /* retirar os simbolos de lista */

  display: flex; /*organizar os elementos de forma que eles se encaixem na caixa*/
  flex-direction: column;  /* organizar os elementos em coluna */
  gap: 16px; /* espaços entre os elementos */
  padding: 24px 0px;
}

ul li a{
  
  display: flex;
  align-items: center; /*centralizar os elementos no meio da caixa*/
  justify-content: center; /*centraliza os elementos no meio da linha*/

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color) ;
  border-radius:8px ;/*  tipo de borda */

  -webkit-backdrop-filter: blur (4px);
  text-decoration: none; /*Retirar a linha que está debaixo do texto*/
  font-weight:bold; /* Negrito */

  transition: background .4s;
}

/* pseudo selector */
ul li a:hover{
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

#social-links{
  display: flex;
  
  padding: 24px 0;
  justify-content: center;
  font-size: 24px;
}

#social-links a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background .2s;border-radius: 50%;
}

#social-links a:hover{
  background: var(--highlight-color);
  
}

footer{
  padding: 24px 0px;
  text-align: center;
  font-size: 14px;
  
}

